.circle, .gradient-circle, .dashed-circle {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 15;
  translate: -50% -50%;
}

.gradient-circle {
  --background-color: white;
  background: radial-gradient(color-mix(in srgb, var(--background-color), transparent 75%), var(--background-color));
}
.dashed-circle {
  border-style: dashed;
  border-width: 2px;
  border-color: white;
  animation: rotate 12s linear infinite;
}
.circle.scale-effect, .dashed-circle.scale-effect, .gradient-circle.scale-effect {
  scale: var(--scale-effect);
}

@keyframes expand {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 1;
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*@keyframes distort {
  0% {
    transform: rotate(0deg) translate(0,0);
    transform-origin: center;
    filter: hue-rotate(0deg);
  }
  33% {
    transform: rotate(120deg) translate(11px,19px);
    transform-origin: center;
    filter: hue-rotate(230deg);
  }
  67% {
    transform: rotate(240deg) translate(2px,1px);
    transform-origin: center;
    filter: hue-rotate(500deg);
  }
  100% {
    transform: rotate(360deg) translate(0,0);
    transform-origin: center;
    filter: hue-rotate(720deg);
  }
}*/
/*@keyframes distort {
  0% {
    transform: matrix(1.1, 0.05, -0.01, 1.1, 0, 0);
  }
  33% {
    transform: matrix(0.8, 0.5, -0.6, 0.6, 0, 0)
  }
  67% {
    transform: matrix(-0.1, 0.53, -1.2, 0, 0, 0);
  }
  100% {
    transform: matrix(1.1, 0.05, -0.01, 1.1, 0, 0);
  }
}*/
@keyframes distort {
  0% {rotate: 10deg;}
  100% {rotate: -10deg;}
}

@keyframes distort-html {
  0% {
    backdrop-filter: hue-rotate(180deg);
  }
  33% {
    backdrop-filter: hue-rotate(540deg);
  }
  67% {
    backdrop-filter: hue-rotate(360deg);
  }
  100% {
    backdrop-filter: hue-rotate(0deg);
  }
}